#container {
  width: 600px;
  margin: 20px auto;
  border: 1px solid gainsboro;
}

h1 {
  display: inline-block;
  background-color: blue;
  color: aliceblue;
}

.accent {
  font-weight: bold;
  color: red;
}